<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993382199683-jsgo5fk02a098vcm9agtlr86i0sg9luq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993382199683-jsgo5fk02a098vcm9agtlr86i0sg9luq</string>
	<key>API_KEY</key>
	<string>AIzaSyBh8XOLdzgoqH-XFftHUKnZ3Cfm4yaZPeY</string>
	<key>GCM_SENDER_ID</key>
	<string>993382199683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sayor.ChitChat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-app-95bcc</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-app-95bcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993382199683:ios:013e1929c47c0c8afac6b6</string>
</dict>
</plist>